amqp==5.0.9
asgiref==3.5.0
backports.zoneinfo==0.2.1
billiard==3.6.4.0
bot-storage==1.0.1
celery==5.2.3
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
Deprecated==1.2.13
Django==4.0.2
django-cors-headers==3.11.0
django-tbot-base==1.0.1
django-tbot-mailing==0.1.1
django-tbot-messages==0.2.2
idna==3.3
kombu==5.2.3
loguru==0.6.0
packaging==21.3
Pillow==9.0.1
prompt-toolkit==3.0.28
pybankid==0.12.0
pyparsing==3.0.7
pyTelegramBotAPI==4.4.0
pytz==2021.3
redis==4.1.4
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
ujson==5.1.0
urllib3==1.26.8
vine==5.0.0
wcwidth==0.2.5
wrapt==1.13.3
